@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  
  --color-flutter: #027DFD;
  --color-vue: #42B883;
  --color-vision: #D946EF;
  
  --font-sans: 'Inter', sans-serif;

  --animate-float: float 6s ease-in-out infinite;
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}

body {
  background-color: var(--color-primary);
  color: #f8fafc;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
